@import "../../styles/colors";

.own-message {
  margin: 5px 2px;
  padding: 5px;
  align-self: end;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  min-width: 400px;
  border-radius: 5px;
  font-size: 18px;
  background-color: $secondary-theme;
}

.message-text {
  width: 100%;
  padding: 5px;
  background-color: $additional-theme;
  border-radius: 5px;
  text-align: left;
}

.message-time {
  align-self: end;
  font-size: 16px;
  color: $secondary-text;
}

.message-button-wrapper {
  align-self: end;
  display: flex;
  gap: 5px;
}

.message-edit,
.message-delete {
  height: 28px;
  width: 10%;
  min-width: 70px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: $primary-text;
  background-color: $additional-theme;
}

.message-edit:hover,
.message-delete:hover {
  cursor: pointer;
  border: 2px solid $additional-text;
}
