.message-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.message-list-day-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.message-list::-webkit-scrollbar {
  display: none;
}
