@import "./colors";

* {
  box-sizing: border-box;
  font-family: Alegreya, sans-serif;
}

body {
  margin: 0;
  background-color: $background;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
