@import "../../../styles/colors";

.messages-divider {
  height: 2px;
  width: 100%;
  background-color: $primary-theme;
  margin: 20px 0px;
  position: relative;
}

.messages-divider-date {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-100%, -55%);
  background-color: $primary-theme;
  border-radius: 5px;
  padding: 0 5px;
}
