@import "../../styles/colors";

main {
  height: 100vh;
  display: flex;
  align-items: center;
}

.preloader {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 4px solid $secondary-theme;
  border-radius: 50%;
  border-top-color: $primary-theme;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
