@import "../../styles/colors";

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: $primary-theme;
}

.header-title {
  margin: 10px;
  justify-self: center;
}

.header-users-count,
.header-messages-count,
.header-last-message-date {
  margin: 10px;
}
