@import "../styles/colors";

.chat {
  text-align: center;
  height: 100vh;
  min-width: 500px;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $additional-theme;
  font-size: 23px;
  color: $primary-text;
}
