@import "../../styles/colors";

.message-input {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  margin-top: 10px;
  width: 100%;
  padding: 7px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: $primary-theme;
}

.message-input-text {
  height: 50px;
  width: 70%;
  border: none;
  border-radius: 5px;
  color: $primary-text;
  font-size: 18px;
  overflow: hidden;
  background-color: $additional-theme;
}

.message-input-text::placeholder {
  color: $primary-text;
}

.message-input-text:hover {
  cursor: pointer;
  outline: 2px solid $additional-text;
}

.message-input-text:focus {
  height: auto;
  height: 50px;
  cursor: text;
  outline: 2px solid $additional-text;
}

.message-input-button {
  height: 40px;
  width: 10%;
  min-width: 60px;
  margin-left: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 24px;
  color: $primary-text;
  background-color: $additional-theme;
}

.message-input-button:hover {
  cursor: pointer;
  border: 2px solid $additional-text;
}
