@import "../../styles/colors";

.message {
  margin: 5px 2px;
  padding: 5px;
  display: flex;
  align-items: flex-start;
  width: 70%;
  min-width: 400px;
  border-radius: 5px;
  background-color: $secondary-theme;
}

.message-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  font-size: 18px;
}

.message-text {
  width: 100%;
  padding: 5px;
  background-color: $additional-theme;
  border-radius: 5px;
  text-align: left;
}

.message-time {
  align-self: end;
  font-size: 16px;
  color: $secondary-text;
}

.message-like {
  margin: 5px;
  color: red;
  align-self: center;
}

.message-user-name {
  font-size: 20px;
  font-style: italic;
  color: $secondary-text;
}

.message-user-avatar-wrapper {
  width: 3em;
  height: 3em;
  margin-right: 5px;
}

.message-user-avatar {
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 50%;
}
